# Google Cloud Configuration
PROJECT_ID=qwiklabs-asl-01-dee24014efed
LOCATION=us-central1

# Inference Configuration
# Options: VERTEX_AI, VLLM
MODEL_INFERENCE_ENGINE=VERTEX_AI
VLLM_SERVICE_URL=

# Database Configuration (Optional for local testing)
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=fact-checking-db
