fastapi
uvicorn
google-cloud-aiplatform
google-cloud-modelarmor
google-cloud-secret-manager
google-cloud-storage
google-cloud-discoveryengine
psycopg2-binary
requests
python-dotenv
pydantic
sse-starlette
